<%if current_user.role == "admin" %>
      <h1>Your Sites</h1><br/><br/>
      
         <button><h4><%= link_to "New site", new_site_path %></h4></button> <br/>
        <% @adminsites.each do |site| %>
          <p><%= link_to "#{site.name},user #{site.user_id},-site_id:#{site.id}", site_path(site.id) %><p/>

      <%end%>

<%else%>
     <h1>Your Sites</h1><br/><br/>
     <button><h4><%= link_to "New site", new_site_path %></h4></button> <br/><br/>
    
      <% @sites.each do |site| %>
      <h4><%= link_to site.name, site_path(site.id) %><h4/>

      <%end%>

   
<%end%>