<%if current_user%>
      <h1>Sites#index</h1>
      <p>Find me in app/views/sites/index.html.erb</p>
      <%= link_to "New site", new_site_path %><br/><br/>
      <% @sites.each do |site| %>
      <p><%= link_to site.name, site_path(site.id) %><p/>

      <%end%>
<%else%>
<% root_path %>
 <% flash[:notice] = "Must sign in or sign up!!"%>
<%end%>
